@font-face { font-family: Eurostile;
             src: url(fuentes/eurostile.ttf); }
            
* {overflow: hidden;}

body{
    margin: 0;
    overflow: hidden;
}

#oculta{
    opacity: 1;
    height: 100vh;
    background-color: black;
    z-index: 0;
}

iframe{
    margin-left: 14vw;
}

p{
    opacity: 0;
    margin-left: 20vw;
    margin-top: 6vh;
    font-family: Eurostile;
    color: white;
    font-size: 28pt;
    letter-spacing: 3pt;
    -webkit-filter: blur(1.5px);
}

.fb-like{
    height: 5vh;

}